/* ----- MARGE FONTS ----- */
:root {
  --main-color: #0065fc;
  --alt-color: #deebff;
  --bg-color: #f2f2f2;
}
@font-face {
  font-family: "Raleway-Regular";
  src: url("/webfonts/Raleway-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway-Regular";
  src: url("/webfonts/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
}
* {
  font-family: "Raleway-Regular", sans-serif;
  margin: 0;
  padding: 0;
}

/* ----- GENERAL TAGS ----- */

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000;
}
h1,
h2 {
  font-size: 22px;
}
.fa-star {
  font-size: 12px;
}
.stars,
.stars_pop {
  display: flex;
  margin-top: auto;
}
.checked {
  color: var(--main-color);
}
.unchecked {
  color: var(--bg-color);
}
.price {
  font-weight: bold;
}

/* ----- PAGE BLOCK ----- */
@media screen and (min-width: 576px) {
  .page_block {
    padding: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .page_block {
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px;
  }
}

/* ----- HEADER LOGO NAV ----- */

.header_block {
  display: flex;
  flex-wrap: wrap;
}
.header_logoreg {
  margin: 30px 0 40px 20px;
  flex-grow: 1;
}
.header_nav {
  flex-basis: 100%;
  order: 3;
}
.nav_bar_list {
  display: flex;
}
.nav_bar_list li {
  text-align: center;
  padding-bottom: 20px;
  flex-basis: 50%;
}
.nav_bar_lodging {
  border-bottom: 3px solid var(--main-color);
}
.nav_bar_activity {
  border-bottom: 3px solid var(--bg-color);
}
.nav_bar_list a:hover {
  display: block;
  color: var(--main-color);
  transform: scale(1.05);
}
.nav_bar_list_selected {
  color: var(--main-color);
}
.register {
  display: flex;
  margin-right: 20px;
  align-items: center;
  color: var(--main-color);
  font-weight: bold;
}
.register:hover {
  transform: scale(1.05);
}
@media screen and (min-width: 576px) {
  .header_block {
    align-items: center;
  }
  .header_logoreg {
    margin: 0;
  }
  .header_nav {
    flex-basis: unset;
    order: unset;
  }
  .nav_bar_list li {
    padding: 0 20px 0 0;
  }
  .nav_bar_lodging,
  .nav_bar_activity {
    border: unset;
  }
  .nav_bar_list a:hover::before {
    content: "";
    position: absolute;
    height: 3px;
    left: -30px;
    right: -30px;
    bottom: 68px;
    background-color: var(--main-color);
  }
  .nav_bar_list_selected {
    color: unset;
  }
  .register {
    margin: 0;
  }
}
@media screen and (min-width: 998px) {
  .nav_bar_list li {
    padding-right: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .nav_bar_list li a:hover::before {
    bottom: 77px;
  }
}

/* ----- HEADER TEXT ----- */

.header_body {
  padding: 20px;
}
.header_body h1 {
  margin-bottom: 10px;
}
@media screen and (min-width: 576px) {
  .header_body {
    padding: 0;
    margin-top: 40px;
  }
}

/* ----- SEARCH BAR -----*/

.search_bar {
  display: flex;
  margin: 40px 0;
}
.search_bar_icon {
  display: flex;
  font-size: 18px;
  width: 50px;
  height: 50px;
  border-radius: 15px 0 0 15px;
  background-color: var(--bg-color);
  align-items: center;
  justify-content: center;
}
input {
  font-weight: bold;
  font-size: 18px;
  width: 240px;
  height: 50px;
  padding-left: 18px;
  border: 0.5px solid var(--bg-color);
}
.button {
  background-color: var(--main-color);
  font-size: 16px;
  width: 50px;
  height: 50px;
  color: white;
  border: none;
  border-radius: 15px;
  margin-left: -10px;
}
.button_search {
  display: none;
}
.button:focus {
  outline: none;
}
.button:hover {
  cursor: pointer;
  transform: scale(1.05);
}
@media screen and (min-width: 576px) {
  .button_search {
    display: unset;
    font-weight: bold;
  }
  .fa-search {
    display: none;
  }
  .button {
    border-radius: 0 15px 15px 0;
    width: 135px;
    margin-left: unset;
  }
}
/* ----- FILTER BAR ----- */

.filters_bar {
  font-weight: bold;
}
.filters_head {
  margin-bottom: 15px;
}
.filters_body {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}
.filters {
  display: flex;
  border: 3px solid var(--bg-color);
  border-radius: 30px;
  align-items: center;
  margin: 5px;
}
.icons {
  margin: -3px;
}
.icons i {
  display: flex;
  background-color: var(--alt-color);
  color: var(--main-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}
.filters p {
  margin: 0 20px;
}
.filters:hover {
  background-color: var(--bg-color);
  border-radius: 30px;
  transform: scale(1.05);
}
@media screen and (min-width: 998px) {
  .filters_bar {
    display: flex;
    align-items: center;
  }
  .filters_head {
    margin: 0 10px;
  }
  .filters {
    margin: 0 10px;
  }
}
@media screen and (min-width: 1280px) {
  .filters_head {
    margin: 0 20px 0 5px;
  }
  .filters {
    margin: 0 20px;
  }
}

/* ----- INFO ----- */

.info {
  display: flex;
  align-items: center;
  margin: 20px 5px;
  font-size: 14px;
}
.info i {
  display: flex;
  border: 2px solid var(--bg-color);
  color: var(--main-color);
  border-radius: 50%;
  margin: 0 10px 0 0;
  width: 25px;
  height: 25px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 576px) {
  .info {
    font-size: 16px;
  }
}
@media screen and (min-width: 998px) {
  .info {
    margin: 40px 5px;
  }
}

/* ----- MAIN CONTENT ----- */

.main_content {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .main_content {
    flex-direction: row;
  }
}

/* ----- Lodging Block ----- */

.lodging_block {
  padding: 0 20px;
  order: 2;
}
.lodging_title {
  margin: 40px 0 20px;
}
.lodging_box {
  border-radius: 20px;
  margin: 10px 0;
  padding: 5px;
  box-shadow: 0 0 10px 2px #cfcfcf;
  display: flex;
  flex-direction: column;
}
.lodging_box:hover {
  transform: scale(1.05);
}
.lodging_box img {
  width: 100%;
  height: 115px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.lodging_box_title {
  margin: 10px 0 10px 10px;
  font-size: 16px;
}
.lodging_box p {
  font-size: 14px;
  margin: 0 0 10px 10px;
}
.stars {
  font-size: 14px;
  margin: auto 0 10px 10px;
}
.lodging_foot {
  font-weight: bold;
  margin-top: 30px;
  cursor: pointer;
}
.lodging_foot a {
  display: inline-block;
}
.lodging_foot a:hover {
  transform: scale(1.05);
}
@media screen and (min-width: 576px) {
  .lodging_block {
    background-color: var(--bg-color);
    margin-top: 40px;
    border-radius: 20px;
  }
  .lodging_body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .lodging_box {
    background-color: white;
    margin: 0;
  }
  .lodging_foot {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 998px) {
  .lodging_body {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .lodging_block {
    width: 68%;
    margin: 0 40px 0 0;
    padding: 0 40px;
  }
  .lodging_body {
    gap: 40px;
  }
}
/* ----- SIDEBAR BLOCK ----- */

.sidebar_block {
  background-color: var(--bg-color);
  padding: 0 20px;
  order: 1;
}
.sidebar_title {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 20px;
}
.sidebar_logo {
  font-size: 22px;
}
.popular_box {
  height: 135px;
  background-color: white;
  border-radius: 20px;
  margin: 10px 0;
  padding: 5px;
  box-shadow: 0 0 10px 2px #cfcfcf;
}
.popular_box a {
  display: flex;
  height: 100%;
}
.popular_box figure {
  width: 42%;
}
.popular_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}
.popular_img_desc {
  width: 58%;
  display: flex;
  flex-direction: column;
  margin: 15px 0 10px 20px;
}
.popular_img_desc h2 {
  font-size: 16px;
}
.popular_img_desc p {
  font-size: 14px;
  margin: 5px 0 0;
}
.popular_box:hover {
  transform: scale(1.05);
}
@media screen and (min-width: 576px) {
  .sidebar_block {
    border-radius: 20px;
  }
  .popular_box figure {
    width: 50%;
  }
  .popular_img_desc {
    width: 50%;
  }
}
@media screen and (min-width: 850px) {
  .popular_body {
    display: flex;
    justify-content: space-between;
  }
  .popular_box {
    width: 31%;
    margin: 0 0 20px 0;
  }
  .popular_box figure {
    width: 40%;
  }
  .popular_img_desc {
    width: 60%;
  }
}
@media screen and (min-width: 1280px) {
  .sidebar_block {
    width: 32%;
    padding: 0 40px;
    order: 2;
  }
  .popular_body {
    flex-direction: column;
  }
  .popular_box {
    width: 100%;
    margin: 0 0 40px 0;
  }
}
/* ----- Activity Block ----- */

.activity_block {
  padding: 20px;
}
.activity_title {
  margin: 40px 0 20px;
}
.activity_box {
  border-radius: 20px;
  margin: 20px 0;
  box-shadow: 0 0 10px 2px #cfcfcf;
  display: flex;
  flex-direction: column;
}
.activity_box:hover {
  transform: scale(1.05);
}
.activity_img {
  width: 100%;
  height: 135px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.activity_box_title {
  font-size: 16px;
  margin: 20px;
}
@media screen and (min-width: 576px) {
  .activity_block {
    padding: 0;
  }
  .activity_body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .activity_box {
    margin: 0;
  }
  .activity_box_title {
    letter-spacing: -1px;
  }
}
@media screen and (min-width: 850px) {
  .activity_body {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 998px) {
  .activity_body {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 20px 20px 20px 200px;
    column-gap: 20px;
    row-gap: 0;
  }
  .activity_box {
    height: 100%;
  }
  .activity_box:nth-child(1) {
    grid-row: 1 / 6;
  }
  .activity_box:nth-child(2) {
    grid-row: 1 / 4;
  }
  .activity_box:nth-child(3) {
    grid-row: 5 / 6;
  }
  .activity_box:nth-child(4) {
    grid-row: 1 / 6;
  }
  .activity_box:nth-child(5) {
    grid-row: 1 / 2;
  }
  .activity_box:nth-child(6) {
    grid-row: 3 / 6;
  }
  .activity_box a {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .activity_box figure {
    flex-grow: 1;
  }
  .activity_img {
    min-height: 100%;
  }
  .activity_box_title {
    letter-spacing: unset;
  }
}
@media screen and (min-width: 1280px) {
  .activity_body {
    grid-template-rows: 200px 40px 40px 40px 200px;
    column-gap: 40px;
  }
}

/* ----- Mise en page Footer ----- */

.footer_block {
  box-sizing: border-box;
  background-color: var(--bg-color);
  padding: 20px;
}
.footer_nav {
  margin: 20px 0;
}
.footer_titles {
  font-size: 18px;
  margin-bottom: 20px;
}
.footer_block li {
  margin: 10px 0;
}
.footer_block li a {
  display: inline-block;
}
.footer_block li a:hover {
  transform: scale(1.05);
}
@media screen and (min-width: 576px) {
  .footer_block {
    padding: 40px;
  }
  .footer_nav_block {
    display: flex;
  }
  .footer_nav {
    width: 33%;
  }
}
@media screen and (min-width: 1280px) {
  .footer_block {
    padding: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .footer_block {
    width: 100%;
  }
  .footer_nav_block {
    width: 1440px;
    margin: 0 auto;
  }
}
